@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Staatliches';
  src: url('/fonts/Staatliches-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
