:root {
  /* Colors */
  --color-white: hsl(51.43, 100%, 98.63%); /* #fffef8 */
  --color-white-dark: hsl(50, 25%, 91%); /* #EDEAD9 */
  --color-primary-hsl: 200, 32%, 29.41%;
  --color-primary: hsl(var(--color-primary-hsl)); /* #335363 */
  --color-primary-light: hsl(160, 7.89%, 85.1%); /* #d6dcda */
  --color-teal: hsl(180, 43.93%, 41.96%); /* #3c9a9a */
  --color-teal-light: hsl(168, 37.63%, 81.76%); /* #bfe2db */
  --color-teal-pastel: hsl(162, 35.71%, 89.02%); /* #d9ede7 */
  --color-green-pastel: hsl(66.21, 46.03%, 87.65%); /* #dee4b7 */
  --color-blue-pastel: hsl(190.59, 28.81%, 88.43%); /* #bfd8e0 */

  /* Font families */
  --font-sans: 'Rubik', system-ui, sans-serif;
  --font-display: 'Staatliches', sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Font sizes */
  --font-size-base: 16px;
  --font-size-text: 1.25rem;
  --font-size-large-text: 1.3rem;
  --font-size-heading: 4rem;
  --font-size-small-heading: 2rem;

  /* Font line height */
  --line-height-text: 1.5;
  --line-height-heading: 1.1;

  /* Letter spacing */
  --letter-spacing-heading: 0.1em;

  /* Breakpoints */
  --breakpoint-mobile: 500px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1440px;
}
