---
import { Image } from 'astro:assets';
import privateLessonImage from '@assets/beginner-private-lesson.avif';
import groupLessonImage from '@assets/beginner-group-lesson.avif';

import WavyCircle from '@ui/WavyCircle.astro';
---

<section id="beginner-lessons">
  <div class="content">
    <div class="description">
      <div class="title">
        <h3 class="heading">Beginner Lessons</h3>
        <p>
          <em>
            For anyone who’s never surfed before or has only tried a few times
          </em>
        </p>
      </div>

      <div class="focus">
        <h4><strong>What we will focus on</strong></h4>
        <ul class="list">
          <li>Safety basics & surf etiquette</li>
          <li>How to paddle efficiently</li>
          <li>How to pop up with good technique</li>
          <li>Finding your balance & surf stance</li>
          <li>Catching white-wash waves</li>
          <li>First turns & basic control</li>
          <li>Getting comfortable in the ocean</li>
        </ul>
        <p>Perfect if you want a fun, safe introduction to surfing!</p>
      </div>
    </div>

    <ul class="lessons">
      <li>
        <Image
          src={privateLessonImage}
          alt="Beginner surfer riding a wave, standing on the board and smiling"
        />
        <div class="lesson-description">
          <div class="bullet">
            <WavyCircle />
          </div>
          <div class="text">
            <h4><strong>Private</strong> — 1 on 1 session</h4>
            <p>
              A one-on-one session fully adapted to your level. I’ll help you
              build confidence, improve your technique, and catch more waves.
            </p>
            <p class="price accent-text">9 000 LKR</p>
          </div>
        </div>
      </li>
      <li>
        <Image
          src={groupLessonImage}
          alt="Group of 3 surfers, waiting to catch a wave in the ocean"
        />
        <div class="lesson-description">
          <div class="bullet">
            <WavyCircle />
          </div>
          <div class="text">
            <h4><strong>Group</strong></h4>
            <p>
              Learn together in a fun and supportive setting. I’ll guide you
              step by step so everyone feels safe and progresses at their own
              pace.
            </p>
            <ul class="lesson-options">
              <li>
                <h5><strong>Small group</strong> — 2-5 people</h5>
                <p class="price accent-text">
                  <strong>7 000 LKR</strong> per person
                </p>
              </li>
              <li>
                <h5><strong>Big group</strong> — 6+ people</h5>
                <p class="price accent-text">
                  <strong>6 000 LKR</strong> per person
                </p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<style>
  .content {
    padding-top: 12rem;
    padding-bottom: 8rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .description {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    gap: 2rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .focus {
    grid-column: 2 / span 2;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .lessons {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;
  }

  .lessons > li {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    gap: 2rem;
  }

  .lessons > li img {
    grid-column: 1 / span 2;

    width: 100%;
    height: 32rem;
    object-fit: cover;

    border-radius: 1rem;
  }

  .lessons > li .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .lessons > li .bullet {
    color: var(--color-teal);
    font-size: 2rem;
  }

  .lessons .lesson-description {
    display: flex;
    gap: 1rem;
  }

  .price {
    padding: 0.6em 1em 0.5em 1em;
    color: var(--color-white);
    background-color: var(--color-teal);

    width: fit-content;
    border-radius: 9999px;
  }

  .lesson-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .lesson-options li {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  /* Responsive */
  @media (min-width: 1100px) {
    .content {
      grid-template-columns: repeat(3, 1fr);
      gap: 8rem 4rem;
    }

    .description,
    .lessons > li {
      gap: inherit;
    }
  }
</style>
