---
import { Image } from 'astro:assets';
import privateLessonImage from '@assets/beginner-private-lesson.avif';
import groupLessonImage from '@assets/beginner-group-lesson.avif';
---

<section id="beginner-lessons">
  <div class="content">
    <div class="description">
      <h3 class="heading">Beginner Lessons</h3>
      <p>
        <em>
          For anyone who’s never surfed before or has only tried a few times
        </em>
      </p>
    </div>

    <div class="focus">
      <h4><strong>What we will focus on</strong></h4>
      <ul>
        <li>Safety basics & surf etiquette</li>
        <li>How to paddle efficiently</li>
        <li>How to pop up with good technique</li>
        <li>Finding your balance & surf stance</li>
        <li>Catching white-wash waves</li>
        <li>First turns & basic control</li>
        <li>Getting comfortable in the ocean</li>
      </ul>
      <p>Perfect if you want a fun, safe introduction to surfing!</p>
    </div>

    <ul class="lessons">
      <li>
        <Image
          src={privateLessonImage}
          alt="Beginner surfer riding a wave, standing on the board and smiling"
        />
        <div class="text">
          <h4><strong>Private</strong> — 1 on 1 session</h4>
          <p>
            A one-on-one session fully adapted to your level. I’ll help you
            build confidence, improve your technique, and catch more waves.
          </p>
          <p>9 000 LKR</p>
        </div>
      </li>
      <li>
        <Image
          src={groupLessonImage}
          alt="Group of 3 surfers, waiting to catch a wave in the ocean"
        />
        <div class="text">
          <h4><strong>Group</strong></h4>
          <p>
            Learn together in a fun and supportive setting. I’ll guide you step
            by step so everyone feels safe and progresses at their own pace.
          </p>
          <ul>
            <li>
              <h5><strong>Small group</strong> — 2-5 people</h5>
              <p><strong>7 000 LKR</strong> per person</p>
            </li>
            <li>
              <h5><strong>Big group</strong> — 6+ people</h5>
              <p><strong>6 000 LKR</strong> per person</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>

<style>
  .content {
    padding-top: 12rem;
    padding-bottom: 8rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem 4rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .focus {
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .focus ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .lessons {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;
  }

  .lessons li {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;
  }

  .lessons li img {
    grid-column: 1 / span 2;

    width: 100%;
    height: 32rem;
    object-fit: cover;

    border-radius: 1rem;
  }

  .lessons li .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
