---
import logo from '@assets/logo-lucky-surf-school.svg';
import IconCalendar from '@components/ui/icons/IconCalendar.astro';
import IconWhatsApp from '@components/ui/icons/IconWhatsApp.astro';
import GoogleMaps from '@components/ui/GoogleMaps.astro';
import WaveDivider from '@ui/WaveDivider.astro';
import IconInstagram from '@ui/icons/IconInstagram.astro';
---

<section>
  <div class="divider-container">
    <WaveDivider />
  </div>

  <div class="contact-container">
    <div class="content">
      <div class="contact-infos">
        <img class="logo" src={logo.src} alt="Lucky Surf School Logo" />

        <address>
          <a
            href="https://maps.app.goo.gl/QaRHBpn1ym5XsT1D8"
            target="_blank"
            rel="noopener"
            class="postal"
          >
            <h2 class="small-heading">Hiriketiya<br />Lucky Surf School</h2>
            <p>
              Hiriketiya Beach Rd<br />
              Dikwella 81200<br />
              Sri Lanka
            </p>
          </a>

          <div class="socials">
            <a aria-label="Chat on WhatsApp" href="https://wa.me/94773495957">
              <IconWhatsApp />
              <strong>+94 77 349 5957</strong>
            </a>
            <a
              aria-label="Instagram handle"
              href="https://www.instagram.com/hiriketiya_lucky_surf_school/?hl=en"
              target="_blank"
              rel="noopener"
            >
              <IconInstagram />
              <strong>@hiriketiya_lucky_surf_school</strong>
            </a>
            <a
              aria-label="Book your lesson on calendly"
              href="https://calendly.com/luckysurfhiriketiya"
              target="_blank"
              rel="noopener"
            >
              <IconCalendar />
              <strong>calendly.com/luckysurfhiriketiya</strong>
            </a>
          </div>
        </address>
      </div>
      <GoogleMaps />
    </div>
  </div>
</section>

<style>
  .divider-container {
    color: var(--color-primary);
    background-color: var(--color-teal-pastel);
  }
  .contact-container {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .content {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    gap: 16rem;

    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .contact-infos {
    position: relative;
  }

  address {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .postal,
  .socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .socials a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .logo {
    position: absolute;
    bottom: -18rem;
    right: 0;
    z-index: 1;

    transform: rotate(14deg);
    width: 14rem;
    height: 14rem;
    display: block;
  }

  @media (min-width: 1100px) {
    .content {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }

    .logo {
      bottom: -4rem;
      right: -6rem;
    }
  }
</style>
