---
import WavyCircle from '@ui/WavyCircle.astro';
---

<section>
  <div class="content">
    <div class="intro">
      <div class="text large-text">
        <p>
          Surfing in Hiriketiya is about more than just catching waves — it’s
          about feeling good in the ocean and enjoying one of Sri Lanka’s most
          beautiful bays.
        </p>
        <p>
          The bay offers calm, consistent conditions, ideal for beginners and
          surfers ready to progress.
        </p>
        <p>
          From first rides to green waves, I’m a certified ISA Level 1
          instructor here to help you surf safely, gain confidence, and have fun
          every step of the way!
        </p>
      </div>
    </div>

    <div class="classes-presentation">
      <h2 class="small-heading">Surf Sessions for Everyone</h2>
      <ul>
        <li>
          <a href="#beginner-lessons">
            <div class="bullet">
              <WavyCircle />
            </div>
            <div class="text">
              <h3><strong>Beginner Lessons</strong> — private or group</h3>
              <p>
                For anyone who’s never surfed before or has only tried a few
                times
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#intermediate-lessons">
            <div class="bullet">
              <WavyCircle />
            </div>
            <div class="text">
              <h3><strong>Intermediate Lessons</strong></h3>
              <p>
                For surfers already catching green waves, who want to improve
                their technique
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  /* General */
  section {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  /* Intro */
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .intro .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Classes presentation  */
  .classes-presentation {
    display: grid;
    grid-template-columns: 1fr;

    gap: 2rem 4rem;
  }

  .classes-presentation h2 {
    grid-column: 1 / -1;
  }

  ul {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;
  }

  /* Class detail  */
  ul li a {
    display: flex;

    gap: 1rem;
  }

  .classes-presentation .bullet {
    color: var(--color-teal-light);
    font-size: 2rem;
  }

  .classes-presentation .text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  /* Responsive */
  @media (min-width: 1024px) {
    .intro {
      grid-template-columns: repeat(3, 1fr);
    }
    .intro .text {
      grid-column: 1 / span 2;
    }

    .classes-presentation {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
