---
import { Image } from 'astro:assets';
import logo from '@assets/logo-lucky-surf-school.svg';
// import heroImage from '@assets/hero-hiriketiya-overlay.jpg';
import heroImage from '@assets/hero-hiriketiya.jpg';
import WaveDivider from '@components/ui/WaveDivider.astro';
import ButtonLink from '@components/ui/ButtonLink.astro';
---

<header>
  <div class="content">
    <nav>
      <a href="/" class="logo">
        <img src={logo.src} alt="Lucky Surf School Logo" />
      </a>
      <ButtonLink variant="white" href="/booking"> Book Now </ButtonLink>
    </nav>

    <div class="heading-container">
      <p class="heading">Catch your next waves<br />in Hiriketiya</p>
      <h1 class="subheading">
        Certified surf lessons in Sri Lanka — tailored to you
      </h1>
    </div>
  </div>

  <div class="background-container">
    <Image
      src={heroImage}
      alt="Aerial view of Hiriketiya Bay in Sri Lanka with palm trees, beach and a few waves"
    />
    <div class="overlay"></div>
  </div>

  <div class="divider-container">
    <WaveDivider />
  </div>
</header>

<style>
  /* General */
  header {
    height: 98vh;
    position: relative;

    color: var(--color-white);
  }

  .content {
    height: 100%;
    padding-top: 4rem;
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-rows: auto 1fr;
  }

  /* Nav bar */
  nav {
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    position: absolute;
    width: clamp(96px, 10vw, 160px);
    transform: rotate(-7deg) translateY(-10%);
  }

  /* Heading content */
  .heading-container {
    width: 100%;
    max-width: 800px;

    text-align: center;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    padding-bottom: 4rem;
  }
  .subheading {
    font-size: var(--font-size-large-text);
    font-weight: var(--font-weight-normal);
  }

  /* Background image */
  .background-container img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    z-index: 0;
  }

  .background-container .overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: hsla(var(--color-primary-hsl), 0.8);
    mix-blend-mode: multiply;
  }

  /* Decorative divider */
  .divider-container {
    width: 100%;
    position: absolute;
    bottom: 0;

    color: var(--color-primary);
  }
</style>
