---
import { Image } from 'astro:assets';
import logo from '@assets/logo-lucky-surf-school.svg';
import heroImage from '@assets/hero-hiriketiya.jpg';
---

<header>
  <nav>
    <a href="/" class="logo"
      ><img
        src={logo.src}
        width="160"
        height="160"
        alt="Lucky Surf School Logo"
      />
    </a>
    <a href="#booking" class="button">Book Now</a>
  </nav>
  <div>
    <p>Catch your next waves in Hiriketiya</p>
    <h1>Certified surf lessons in Sri Lanka — tailored to you</h1>
  </div>
  <Image
    src={heroImage}
    alt="Aerial view of Hiriketiya Bay in Sri Lanka with palm trees, beach and a few waves"
    width={500}
  />
</header>
