---
import { Image } from 'astro:assets';
import intermediateLessonImage from '@assets/intermediate-lesson.jpg';
---

<section id="intermediate-lessons">
  <h3>Intermediate Lessons</h3>
  <p>
    For surfers who can already catch green waves and want to improve their
    technique
  </p>

  <h4>What we will work on</h4>
  <ul>
    <li>Positioning in the lineup & choosing the right waves</li>
    <li>Timing, paddling power & reading the sets</li>
    <li>Angle take-offs & catching more green waves</li>
    <li>Improving speed, trimming & basic flow</li>
    <li>Start working on bottom turns / top turns</li>
    <li>Board control, confidence & safer decision-making</li>
  </ul>
  <p>
    Great if you want to progress, correct habits, and surf Hiri with more
    confidence
  </p>

  <p><strong>10 000 LKR</strong></p>

  <Image
    src={intermediateLessonImage}
    alt="Intermediate surfer riding a wave and turning on the face of the wave"
    width={300}
  />
</section>
