---
import { Image } from 'astro:assets';
import whatsIncludedImage from '@assets/whats-included.svg';
import whatToBringImage from '@assets/what-to-bring.svg';
import whatToExpectImage from '@assets/what-to-expect.svg';

import TeachingInfos from '@sections/TeachingInfos.astro';
---

<section>
  <div class="content">
    <div class="lessons-infos">
      <ul>
        <li>
          <h3 class="small-heading">What's Included</h3>
          <Image src={whatsIncludedImage} alt="" />
          <p>
            <strong>Board</strong> and <strong>rashguard</strong> are included in
            every lesson
          </p>
        </li>
        <li>
          <h3 class="small-heading">What to bring</h3>
          <Image src={whatToBringImage} alt="" />
          <p>
            Just take <strong>sunscreen</strong>, <strong>water</strong> and good
            energy
          </p>
        </li>
        <li>
          <h3 class="small-heading">What to expect</h3>
          <Image src={whatToExpectImage} alt="" />
          <p>
            <strong>90 minutes</strong> of guided surfing, safety, and fun guaranteed
          </p>
        </li>
      </ul>
    </div>

    <TeachingInfos />
  </div>

  <style>
    section {
      background-color: var(--color-teal-light);
    }

    .content {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }

    .lessons-infos {
      padding-bottom: 12rem;
    }
    .lessons-infos ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 4rem;
    }

    .lessons-infos ul li {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      align-items: center;
      text-align: center;
    }

    .lessons-infos ul li img {
      width: 100%;
      max-width: 22rem;
    }

    @media (min-width: 550px) {
      .lessons-infos ul {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  </style>
</section>
