---

---

<section class="content">
  <h2>Ready to give it a try?</h2>
  <a href="/booking" class="button">Book Now</a>
</section>

<style>
  section {
    background-color: var(--color-teal-pastel);

    padding-top: 8rem;
    padding-bottom: 8rem;
  }
</style>
