---
import ButtonLink from '@ui/ButtonLink.astro';
---

<section>
  <div class="content">
    <h2 class="heading">Ready to give it a try?</h2>
    <div class="button-container">
      <ButtonLink
        color="white"
        size="large"
        href="https://calendly.com/luckysurfhiriketiya/surf-lesson"
      >
        Book Now!
      </ButtonLink>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--color-teal-pastel);

    padding-top: 12rem;
    padding-bottom: 8rem;

    text-align: center;
  }

  section div {
    width: fit-content;
  }

  .button-container {
    width: fit-content;
    margin: 0 0 0 auto;

    transform: rotate(-10deg);
  }

  @media (min-width: 900px) {
    .button-container {
      transform: translateX(50%) translateY(-20%) rotate(-10deg);
    }
  }
</style>
