---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const reviews: CollectionEntry<'reviews'>[] = await getCollection('reviews');

import ButtonLink from '@ui/ButtonLink.astro';
import ReviewCard from '@ui/ReviewCard.astro';
import Gallery from '@ui/Gallery.astro';

const backgroundColors = ['teal', 'green', 'blue'];
---

<section class="">
  <div class="gallery">
    <Gallery />
  </div>

  <div class="title content">
    <h2 class="heading">Hear From my Students</h2>
    <p><em>Real feedback from people who learned and improved with me</em></p>
  </div>

  <div class="reviews-scroll">
    <ul class="reviews-track">
      <!-- clone début -->
      {
        reviews.slice(-3).map((review) => (
          <li aria-hidden="true">
            {/* clone beginning */}
            <ReviewCard review={review} />
            {/* 
                          color={
                backgroundColors[
                  Math.floor(Math.random() * backgroundColors.length)
                ]
              } */}
          </li>
        ))
      }
      {
        reviews.map((review) => (
          <li>
            <ReviewCard review={review} />
          </li>
        ))
      }
      <!-- clone fin -->
      {
        reviews.slice(0, 3).map((review) => (
          <li aria-hidden="true">
            {/* clone end */}
            <ReviewCard review={review} />
          </li>
        ))
      }
    </ul>
  </div>

  <div class="content">
    <div class="link-container">
      <ButtonLink
        href="https://maps.app.goo.gl/hSZ6TyxASJ45N4v18"
        color="white"
      >
        More reviews on Google Maps
      </ButtonLink>
    </div>
  </div>
</section>

<script is:inline>
  window.addEventListener('load', () => {
    const container = document.querySelector('.reviews-scroll');
    if (!container) return;

    const items = container.querySelectorAll('.reviews-track li');
    if (!items.length) return;
    console.log('items length', items.length);

    const clonesCount = 3;
    const reviewsCount = items.length - clonesCount * 2;
    console.log('reviewsCount', reviewsCount);

    requestAnimationFrame(() => {
      const itemWidth = items[0].offsetWidth + 32;
      // 32 = ton gap 2rem (2rem = 32px si 1rem = 16px)
      // si tu veux être ultra propre on peut le calculer dynamiquement
      // console.log('itemWidth:', itemWidth);

      container.scrollLeft = itemWidth * clonesCount;

      // 2️⃣ Auto scroll
      setInterval(() => {
        // console.log('scrollLeft = ', container.scrollLeft);
        container.scrollBy({
          left: itemWidth,
          behavior: 'smooth',
        });
      }, 5000);

      // // 3️⃣ Loop invisible
      container.addEventListener('scroll', () => {
        // console.log('in scroll scrollLeft = ', container.scrollLeft);
        // console.log('in scroll itemWidth:', itemWidth);

        const currentIndex = Math.round(container.scrollLeft / itemWidth);
        // console.log('in scroll currentIndex:', currentIndex);

        const maxScroll = container.scrollWidth - container.clientWidth;
        // console.log('in scroll maxScroll:', maxScroll);

        // trop à gauche
        if (container.scrollLeft <= itemWidth) {
          container.scrollLeft += itemWidth * reviewsCount;
        }

        // trop à droite
        if (container.scrollLeft >= maxScroll - itemWidth) {
          container.scrollLeft -= itemWidth * reviewsCount;
        }

        // console.log('in scroll scrollWidth = ', container.scrollWidth);
      });
    });
  });
</script>

<style>
  section {
    /* padding-top: 8rem; */
    padding-bottom: 8rem;

    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .title {
    text-align: center;
  }

  .reviews-scroll {
    overflow-x: auto;
    overflow-y: visible;
    position: relative;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
    padding: 0 2rem;

    scroll-snap-type: x mandatory;
  }

  .reviews-scroll::-webkit-scrollbar {
    display: none; /* Older Safari and Chromium */
  }

  .reviews-track {
    display: flex;
    gap: 2rem;

    /* padding-inline: calc((100vw - 1200px) / 2); */
  }

  .reviews-track li {
    /* flex: 0 0 30%; */
    flex: 0 0 calc((100% - 4rem) / 3);

    scroll-snap-align: center;
    /* width: 40%; */
    /* flex: 1; */
    /* min-width: 320px; */
  }

  /* .reviews {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ *
    scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ *
  }

  .reviews::-webkit-scrollbar {
    display: none; /* Older Safari and Chromium *
  }

  .review {
    flex: 1;

    padding: 2rem 1.5rem;
    background-color: var(--color-blue-pastel);
    border-radius: 1rem;
    height: fit-content;

    min-width: 300px;
  } */

  .link-container {
    margin: 0 auto;
    width: fit-content;
  }
</style>
