---

---

<section>
  <div class="content">
    <p>
      Surfing in Hiriketiya is about more than just catching waves — it’s about
      feeling good in the ocean and enjoying one of Sri Lanka’s most beautiful
      bays. The bay offers calm, consistent conditions, ideal for beginners and
      surfers ready to progress. From first rides to green waves, I’m a
      certified ISA Level 1 instructor here to help you surf safely, gain
      confidence, and have fun every step of the way!
    </p>
    <h2 class="small-heading">Surf Sessions for Everyone</h2>
    <ul>
      <li>
        <a href="#beginner-lessons">
          <h3>Beginner Lessons — private or group</h3>
          <p>
            For anyone who’s never surfed before or has only tried a few times
          </p>
        </a>
      </li>
      <li>
        <a href="#intermediate-lessons">
          <h3>Intermediate Lessons</h3>
          <p>
            For surfers already catching green waves, who want to improve their
            technique
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>

<style>
  section {
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 8em 0 10em 0;
  }

  .content {
  }
</style>
