---
import { Image } from 'astro:assets';
import logo from '../assets/logo-lucky-surf-school.svg';
---

<section>
  <a href="/" class="logo"
    ><img
      src={logo.src}
      width="160"
      height="160"
      alt="Lucky Surf School Logo"
    />
  </a>

  <h2>Hiriketiya Lucky Surf School</h2>
  <address>
    <p>
      Hiriketiya Beach Rd<br />
      Dikwella 81200<br />
      Sri Lanka
    </p>
    <a href="tel:+94773495957">+94 77 349 5957</a>
    <a
      href="https://www.instagram.com/hiriketiya_lucky_surf_school/?hl=en"
      target="_blank"
      rel="noopener">@hiriketiya_lucky_surf_school</a
    >
    <a
      href="https://calendly.com/luckysurfhiriketiya"
      target="_blank"
      rel="noopener">calendly.com/luckysurfhiriketiya</a
    >
  </address>

  <div>
    <iframe></iframe>
  </div>
</section>
