---
import logo from "../assets/logo.svg";
import heroImage from "../assets/hero.jpg";
---

<header>
  <nav>
    <a href="/" class="logo"
      ><img
        src={logo.src}
        width="160"
        height="160"
        alt="Lucky Surf School Logo"
      /></a
    >
    <button>Book Now</button>
    <a href="/" class="button">Book Now</a>
  </nav>
  <div>
    <p>Catch your next waves in Hiriketiya</p>
    <h1>Certified surf lessons in Sri Lanka — tailored to you</h1>
  </div>
  <img
    src={heroImage.src}
    height="500"
    alt="Aerial view of Hiriketiya Bay in Sri Lanka with palm trees, beach and a few waves"
  />
</header>
