---
import '@styles/reset.css';
import '@styles/variables.css';
import '@styles/fonts.css';
import '@styles/general.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-lucky-surf-school.svg" />

    <meta name="generator" content={Astro.generator} />

    <!--  -->
    <!-- Android / chrome -->
    <meta name="theme-color" content="#1bb566" />

    <!-- iOS / Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <title>
      Certified Surf Lessons in Hiriketiya, Sri Lanka — Lucky Surf School
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
