---
const { color, size, href, class: className } = Astro.props;
console.log(color, size);
---

<a
  href={href}
  class={`button ${className || ''}`}
  data-color={color}
  data-size={size}
  target="_blank"
  rel="noopener"
>
  <slot />
</a>

<style>
  a {
    display: block;
    padding: 0.75em 1.5em;
    border-radius: 9999px;

    width: fit-content;

    font-family: var(--font-display);
    letter-spacing: var(--letter-spacing-heading);

    color: var(--color-primary);
    background-color: var(--color-primary-light);
  }

  a[data-size='large'] {
    font-size: var(--font-size-small-heading);
  }

  a:hover {
    background-color: var(--color-primary-light-darken);
  }

  a[data-color='white'] {
    color: var(--color-primary);
    background-color: var(--color-white);
  }

  a[data-color='white']:hover {
    background-color: var(--color-white-darken);
  }
</style>
