---
const { class: className, color = 'currentColor' } = Astro.props;
---

<div class=`container ${className}`>
  <svg
    width="1915"
    height="20"
    viewBox="0 0 1915 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M39.0816 9.76897C26.0544 -3.25632 13.0272 -3.25632 0 9.76897V20H1915V9.76897C1901.97 -3.25632 1888.95 -3.25632 1875.92 9.76897C1862.89 22.7943 1849.86 22.7943 1836.84 9.76897C1823.81 -3.25632 1810.78 -3.25632 1797.76 9.76897C1784.73 22.7943 1771.7 22.7943 1758.67 9.76897C1745.65 -3.25632 1732.62 -3.25632 1719.59 9.76897C1706.56 22.7943 1693.54 22.7943 1680.51 9.76897C1667.48 -3.25632 1654.46 -3.25632 1641.43 9.76897C1628.4 22.7943 1615.37 22.7943 1602.35 9.76897C1589.32 -3.25632 1576.29 -3.25632 1563.27 9.76897C1550.24 22.7943 1537.21 22.7943 1524.18 9.76897C1511.16 -3.25632 1498.13 -3.25632 1485.1 9.76897C1472.07 22.7943 1459.05 22.7943 1446.02 9.76897C1432.99 -3.25632 1419.97 -3.25632 1406.94 9.76897C1393.91 22.7943 1380.88 22.7943 1367.86 9.76897C1354.83 -3.25632 1341.8 -3.25632 1328.78 9.76897C1315.75 22.7943 1302.72 22.7943 1289.69 9.76897C1276.67 -3.25632 1263.64 -3.25632 1250.61 9.76897C1237.58 22.7943 1224.56 22.7943 1211.53 9.76897C1198.5 -3.25632 1185.48 -3.25632 1172.45 9.76897C1159.42 22.7943 1146.39 22.7943 1133.37 9.76897C1120.34 -3.25632 1107.31 -3.25632 1094.29 9.76897C1081.26 22.7943 1068.23 22.7943 1055.2 9.76897C1042.18 -3.25632 1029.15 -3.25632 1016.12 9.76897C1003.1 22.7943 990.068 22.7943 977.041 9.76897C964.014 -3.25632 950.986 -3.25632 937.959 9.76897C924.932 22.7943 911.905 22.7943 898.878 9.76897C885.85 -3.25632 872.823 -3.25632 859.796 9.76897C846.769 22.7943 833.741 22.7943 820.714 9.76897C807.687 -3.25632 794.66 -3.25632 781.633 9.76897C768.605 22.7943 755.578 22.7943 742.551 9.76897C729.524 -3.25632 716.497 -3.25632 703.469 9.76897C690.442 22.7943 677.415 22.7943 664.388 9.76897C651.361 -3.25632 638.333 -3.25632 625.306 9.76897C612.279 22.7943 599.252 22.7943 586.224 9.76897C573.197 -3.25632 560.17 -3.25632 547.143 9.76897C534.116 22.7943 521.088 22.7943 508.061 9.76897C495.034 -3.25632 482.007 -3.25632 468.98 9.76897C455.952 22.7943 442.925 22.7943 429.898 9.76897C416.871 -3.25632 403.844 -3.25632 390.816 9.76897C377.789 22.7943 364.762 22.7943 351.735 9.76897C338.707 -3.25632 325.68 -3.25632 312.653 9.76897C299.626 22.7943 286.599 22.7943 273.571 9.76897C260.544 -3.25632 247.517 -3.25632 234.49 9.76897C221.463 22.7943 208.435 22.7943 195.408 9.76897C182.381 -3.25632 169.354 -3.25632 156.327 9.76897C143.299 22.7943 130.272 22.7943 117.245 9.76897C104.218 -3.25632 91.1905 -3.25632 78.1633 9.76897C65.1361 22.7943 52.1088 22.7943 39.0816 9.76897Z"
      fill="currentColor"></path>
  </svg>
</div>

<style>
  .container {
    width: 100%;
    overflow: hidden;
  }

  svg {
    display: block;
    margin: 0 auto;
  }
</style>
